body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/fondoInicio.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

.card-btn {
    background: #FFA500;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.card-btn:focus {
    background: #FF8C00;
    outline: 3px solid white;
}

